body > footer {
  background-color: #222;
  color: #eee;
  width: 100%;
  padding: 1.618rem 0;
  justify-content: center;

  & > div {
    flex: 0 1 calc(35 * 1.618rem);
    flex-direction: column;
  }

  hr {
    border: 0 none;
    border-top: 1px solid rgba(255, 255, 255, .1);
    width: 100%;
  }

  margin: calc(5 * 1.618rem) 0 0;
  font-size: 90%;
  border-top: 1px solid;
}