main > header { 
  
  > a {
    display: flex;
    align-items: center;
    
    color: inherit;
    text-decoration: inherit;
    
    > img {
      height: 4.854rem;
      width: 4.854rem;
  
      margin-left: -0.809rem;
    }
  
    > h1 {
      font-size: inherit;
      line-height: 1.3rem;
    }
  }
}

main > section > h1 {
  margin: 4.854rem 0 1.618rem;

  @media (min-width: 800px) {
    margin-bottom: 0.809rem;
  }
}
