main > header { 
  align-items: center;
  
  > a {
    color: inherit;
    text-decoration: inherit;
    
    > img {
      height: 5rem;
      width: 5rem;
  
      margin-left: -1rem;
    }
  
    > h1 {
      font-size: inherit;
      line-height: 1.3rem;
    }
  }
}

main > section > h1 {
  margin: 4rem 0 1rem;
}
