body > header {
  width: 100%;
  padding: 1.618rem 0;
  justify-content: center;

  .logo-container {
    flex: 0 1 72.81rem;
  }

  img {
    height: 4.05rem;
    width: 4.05rem;
    display: flex;
  }
}

main > section > h1 {
  font-size: 250%;
  line-height: 125%;
  font-weight: 700;

  margin: 3.236rem 0 1.618rem;
}
