html, body, p {
  margin: 0;
  padding: 0;
}

body, main, header, section {
  display: flex;
}

body {
  justify-content: center;
  
  > main {
    flex-direction: column;
    flex: 0 1 56.63rem;
    
    padding: 0 1.618rem;
    
    > section {
      flex-direction: column;
    }
  }
}
