html, body {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  background: white;
  color: #222;

  font-family: Arial, sans-serif;
  line-height: 1.618rem;
}

a {

  color: #099;

  text-decoration: none;

  border-bottom: 1px solid #0cc;

  display: inline-block;
  line-height: 1rem;
  padding-bottom: $module-quarter;

  transition: border-bottom 300ms;

  &:hover {
    border-bottom-color: inherit;
  }

  &.button {
    border-bottom: 0 none;
    padding-bottom: 0;

    color: inherit;
  }
}

footer a {
  padding-bottom: 0.8 * $module-quarter;
}




