html, body {
  font-size: 16px;
}

body {
  background: white;
  color: black;
  
  font-family: Arial, sans-serif;
  line-height: 1.618rem;
}

a {
  transition: background-color 300ms;
  
  &:hover {
    background-color: #6cf;
  }
}

section.caption { 
  > p {
    font-size: .85rem;
  }
  h1 + p {
    margin-bottom: 2rem;
  }
}
