<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Okrašlovací spolek v Holešovicích&ndash;Bubnech</title>

    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
</head>
<body>
<header>
    <h1>
        <a href="/">
            <img src="/images/logo.svg"/>
            <span>Okrašlovací spolek<br/>v Holešovicích&ndash;Bubnech</span>
        </a>
    </h1>

    <section>
        <h2>Účel spolku</h2>
        <ol>
            <li>Všeobecné zušlechťování veřejného prostoru na území hl. m. Prahy.</li>
            <li>Pořádání kulturních a společenských akcí na území hl. m. Prahy.</li>
            <li>Podpůrné politické aktivity k naplnění účelů v odst. 1. a 2.</li>
        </ol>
        <p>
            <a href="#">Více o spolku</a>
        </p>
        <p>
            <a class="button" href="/docs/stanovy.pdf">Stanovy</a>
        </p>
    </section>
</header>
<main>
    <header>
        <h2>Zápisy</h2>
    </header>
    <section>
        <div>
            <ul>
                {{#each meetingRecords}}
                <li>
                    <a href="{{path}}"><span class="date">{{date}}</span> <span class="title">{{shortTitle}}</span></a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h3>
                <img src="/images/spravni_rada.svg"/>
            </h3>
            <ul>
                {{#each boardRecords}}
                <li>
                    <a href="{{path}}"><span class="date">{{date}}</span> <span class="title">{{shortTitle}}</span></a>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
</main>
<footer>
    <section>
        <div>
            <header>
                Okrašlovací spolek v Holešovicích–Bubnech
            </header>
            <p>
                Schnirchova 1084/29<br>
                Holešovice<br>
                170 00 Praha 7
            </p>
            <p>
                IČO: 0298&nbsp;8470<br>
                Spisová značka: L 60739 vedená u Městského soudu v Praze
            </p>
        </div>
        <div>
            <p>Email: <a href="mailto:spravni-rada@hobutrol.cz">spravni-rada@hobutrol.cz</a></p>
            <p>Pracovní skupina Web: <a href="mailto:web-wg@hobutrol.cz">web-wg@hobutrol.cz</a></p>
        </div>
    </section>
</footer>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//analytics.snappy.pro/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 4]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="//analytics.snappy.pro/piwik.php?idsite=4" style="border:0;" alt=""/></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
