<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{title}} &ndash; Okrašlovací spolek v Holešovicích&ndash;Bubnech</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/report.css">
</head>
<body class="Zapis">
<header>
    <h1>
        <a href="/">
            <img src="/images/logo.svg"/>
            <span>Okrašlovací spolek<br/>v Holešovicích&ndash;Bubnech</span>
        </a>
    </h1>
</header>
<main>
    <section>
        {{{contents}}}
    </section>
    <footer>
        <a href="/{{previous.path}}">{{previous.shortTitle}}</a>
        <a href="/{{next.path}}">{{next.shortTitle}}</a>
    </footer>
</main>

<footer>
    <section>
        <div>
            <header>
                Okrašlovací spolek v Holešovicích–Bubnech
            </header>
            <p>
                Schnirchova 1084/29<br>
                Holešovice<br>
                170 00 Praha 7
            </p>
            <p>
                IČO: 0298&nbsp;8470<br>
                Spisová značka: L 60739 vedená u Městského soudu v Praze
            </p>
        </div>
        <div>
            <p>Email: <a href="mailto:spravni-rada@hobutrol.cz">spravni-rada@hobutrol.cz</a></p>
            <p>Pracovní skupina Web: <a href="mailto:web-wg@hobutrol.cz">web-wg@hobutrol.cz</a></p>
        </div>
    </section>
</footer>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//analytics.sprinters.cz/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 4]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="//analytics.sprinters.cz/piwik.php?idsite=4" style="border:0;" alt=""/></p></noscript>
<!-- End Piwik Code -->

</body>
</html>