<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{title}} &ndash; Okrašlovací spolek v Holešovicích&ndash;Bubnech</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/report.css">
</head>
<body class="Zapis">
<header>
    <h1>
        <a href="/">
            <img src="/images/logo.svg"/>
            <span>Okrašlovací spolek<br/>v Holešovicích&ndash;Bubnech</span>
        </a>
    </h1>
</header>
<main>
    <section>
        {{{contents}}}
    </section>
    <footer>
        <a href="/{{previous.path}}">{{previous.shortTitle}}</a>
        <a href="/{{next.path}}">{{next.shortTitle}}</a>
    </footer>
</main>

</body>
</html>