html, body {
  margin: 0;
  padding: 0;
}

a:link {
  color: #0F4D69;
  text-decoration: none;
}

a:visited {
  color: #222;
}

a.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0 none;
  border-radius: .175rem;
  box-shadow: inset 0 0 .8rem rgba(100, 0, 0, .15);
  background: #E06E63;
  color: #ffe0ef;
  height: 2.4rem;
  width: 16rem;

  &:link, &:visited {
    color: #ffe0ef;
  }

  > span {
    font-size: 9px;
  }
}


body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.6rem;

  background-color: white;
  color: #232F3D;

  display: flex;
  flex-direction: column;
}

body > h1 {
  background-color: #232F3D;
  color: #f0ffff;
  font-weight: 400;
  font-size: 13px;
  font-style: italic;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.4rem;
  margin: 0;
}

body > h1 > a {
  flex: 0 0 80px;
}
body > h1 > span {
  flex: 0 1 9rem;
  padding: 0 .8rem;
}

body > header {
  background-color: #F2F6F7;
  color: #232F3D;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4rem 0;
}

body > header > ol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  list-style: none;
  margin: 0 0 2rem;
  padding: 0;

  max-width: 100%;
}

body > header > ol > li {
  flex: 0 1 12.8rem;
  margin: 0 1.6rem .4rem;
  line-height: 1.4rem;
  position: relative;
}

body > header li > span {
  position: absolute;
  left: -1.2rem;
  font-weight: 600;
}

body > header > p {
  margin: 0;
  padding: 0;
}

body > main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 3.2rem 0;
}

body > main > section {
  flex: 0 1 28.8rem;
  margin-right: 1px;
  padding-bottom: 1.6rem;
}

@media (min-width: 66rem) {
  body > main > section:first-child {
    border-right: 1px solid #e0e0e0;
  }
}

body > main > section > header {
  display: flex;
  color: #887774;
  height: 4.8rem;

  justify-content: center;
  align-items: center;
}

body > main > section > ul {
  list-style: none;
  margin: 0;
  padding: 0 2.4rem;
}

body > main > section > ul li a {
  display: flex;
}

body > main > section > ul li span {
  flex: 0 0 5.6rem;
  padding-right: .8rem;
  text-align: right;
  font-weight: 600;
}

body > footer {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  height: 24rem;

  color: #887774;
}

body > footer > section {
  flex: 0 1 24rem;
  margin-top: 1.6rem;

}

body > footer > section header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
}

body > footer > section p {
  margin: .8rem 1.6rem;
}