$module: 1.614rem;
$text-color: #201f1e;
$link-color: #0F4D69;

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.614rem;
  background-color: #f6f5f2;
  color: $text-color;
}

a {
  color: $link-color;
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 19px;
}

h2 {
  color: $text-color;
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

body > header {
  max-width: 960px;
  margin: 0 auto;

  > h1 {
    display: flex;
    justify-content: center;
    padding: 1.5 * $module 0 $module;

    a {
      color: #6c6360;
      display: flex;
      flex-direction: column;
      align-items: center;

      line-height: 0.9 * $module;
      text-decoration: none;
    }
    img {
      display: block;
      height: 3 * $module;
      width: 3 * $module;
    }
    span {
      display: block;
      margin-top: 0.75 * $module;
      text-align: center;
    }
  }

  > section {
    background-color: white;
    padding: 1.5 * $module;

    h2 {
      margin-bottom: $module;
    }

    ol {
      margin: 0;
      list-style-position: inside;
      padding: 0;
    }
  }
}

body > main {
  background-color: white;
  max-width: 960px;
  margin: 0 auto;

  > header {
    padding: 1.5 * $module 1.5 * $module $module;
  }

  > section {
    display: flex;
    flex-wrap: wrap;

    padding: 0 1.5 * $module 1.5 * $module;

    ul {
      flex: 300px;

      list-style-type: none;
      margin: 0;
      padding: 0;

      &.boardRecords {
        background-image: url('/images/spravni_rada.svg');
        background-repeat: no-repeat;
        background-position: center .5 * $module;
        padding-top: 3 * $module;
      }

      a {
        display: flex;
        text-decoration: none;
      }

      span:first-child {
        flex: 0 1 5 * $module;

        color: $text-color;
        padding-right: .5 * $module;
        text-align: right;

      }

      span:last-child {
        flex: 8 * $module;
        text-decoration: underline;
      }
    }
  }
}

body > footer {
  max-width: 960px;
  margin: 0 auto;

  color: #403f3e;
  font-size: 14px;

  > section {
    padding: 1.5 * $module;

    display: flex;
    flex-wrap: wrap;

  }

  div {
    flex: 300px;

    &:first-child p {

    }
  }
}