$module: 1.618rem;

html {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  color: #9FC7D1;
}

body {
  background-color: #F4EFE8; // #EFCA7C;
  color: #3C4A53;
  line-height: $module;

  & > header {
    display: flex;
    justify-content: center;

    padding: 1.5 * $module 0;

    div, a {
      display: flex;
    }

    div {
      flex: 1 1 $module;

      background-image: url("/images/hobutrol-logo-bg.png");
      background-repeat: repeat-x;
      background-size: auto 8 * $module;
    }

    a {
      flex: 0 0 16 * $module;

      img {
        height: 8 * $module;
        width: 16 * $module;
      }

    }
  }

  & > main {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    //flex-direction: column;

    & > section {

      margin: 0.2 * $module;
      flex: 0 1 16.18 * $module;

      //&.zapisy {
      //  background-image: url("/images/zapisy.png");
      //}
      //
      //&.ucel {
      //  background-image: url("/images/ucel_spolku.png");
      //
      //}
      //
      //&.about {
      //  background-image: url("/images/about.png");
      //}

      & > div {
        box-shadow: 1px 1px 4px 1px #bf9236;

        border-radius: 2px;

        background: white no-repeat;
        padding: $module;

        font-size: 0.9rem;

        & > div {
          background-color: #C0C188;
          padding: $module;

          border-radius: 2px;
          box-shadow: inset 0 0 0 4px rgba(#fff, .5);

          color: rgba(#000, .9);
        }
      }

      & > main {
        display: flex;
        flex-wrap: wrap;

        & > div {
          flex: 1 0 300px;
        }
      }
    }

  }
}
