$module: 1.618rem;

html {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f6;
  color: #33332f;
  line-height: $module;

  & > header {
    display: flex;
    justify-content: center;

    padding: 1.5 * $module;

    a img {
      height: 7 * $module;
      width: 7 * $module;
    }
  }

  & > main {
    display: flex;
    flex-wrap: wrap;

    & > section {
      flex: 1.618 0 30rem;
    }

    & > aside {
      flex: 1 0 30rem;
    }

    section {

      background-color: rgba(#ffe, .5);

      &.ucel {
        background-color: rgba(#001, .01);
      }

      &.about {
        background-color: rgba(#001, .05);
      }

      & > header {
        display: inline-block;

        padding: 0.5 * $module;

        //background-color: rgba(#33332f, 0.7);
        //color: #f6f6f2;
        border-radius: 1px;
        //font-weight: bold;

        margin: $module;
      }
      div {
        padding: 0 $module $module;
      }

      & > main {
        display: flex;
        flex-wrap: wrap;

        & > div {
          flex: 1 0 300px;
        }
      }
    }
  }
}
