<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Okrašlovací spolek v Holešovicích&ndash;Bubnech</title>

    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<h1>
    <span>Okrašlovací spolek</span>
    <a style="color:white" href="/"><img src="/images/logo.png"/></a>
    <span>v Holešovicích&ndash;Bubnech</span>
</h1>
<header>
    <ol>
        <li><span>1.</span> Všeobecné zušlechťování veřejného prostoru na území hl. m. Prahy.</li>
        <li><span>2.</span> Pořádání kulturních a společenských akcí na území hl. m. Prahy.</li>
        <li><span>3.</span> Podpůrné politické aktivity k naplnění účelů v odst. 1. a 2.</li>
    </ol>
    <p>
        <a class="button" href="/docs/stanovy.pdf">Stanovy <span>[.PDF]</span></a>
    </p>
</header>
<main>
    <section>
        <header>Zápisy ze schůzí</header>
        <ul>
            {{#each schuze}}
            <li>
                <a href="{{path}}"><span>{{date}}</span> {{title}}</a>
            </li>
            {{/each}}
        </ul>
    </section>
    <section>
        <header>Schůze správní rady</header>
        <ul>
            {{#each spravni}}
            <li>
                <a href="{{path}}"><span>{{date}}</span> {{title}}</a>
            </li>
            {{/each}}
        </ul>
    </section>
</main>
<footer>
    <section>
        <header>
            Okrašlovací spolek v Holešovicích–Bubnech
        </header>
        <p>
            Schnirchova 1084/29<br>
            Holešovice<br>
            170 00 Praha 7
        </p>
        <p>
            IČO: 0298&nbsp;8470<br>
            Spisová značka: L 60739 vedená u Městského soudu v Praze
        </p>

        <p>Email: <a href="mailto:spravni-rada@hobutrol.cz">spravni-rada@hobutrol.cz</a><br/>
            Pracovní skupina Web: <a href="mailto:web-wg@hobutrol.cz">web-wg@hobutrol.cz</a></p>
    </section>
</footer>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//analytics.snappy.pro/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 4]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="//analytics.snappy.pro/piwik.php?idsite=4" style="border:0;" alt=""/></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
