<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{title}} &ndash; Okrašlovací spolek v Holešovicích&ndash;Bubnech</title>

    <link rel="stylesheet" href="/css/custom.css">
</head>
<body class="Zapis">
<header>
    <h1><a href="/"><b>Okrašlovací spolek</b><br/>v Holešovicích&ndash;Bubnech</a></h1>
</header>
<main>
    <article class="u-max-full-width">
        <header>
            <h1>{{title}}</h1>
            <small>{{date}}</small>
        </header>

        {{{contents}}}

    </article>
</main>

</body>
</html>